import(ROC)
import(DESeq)
import(snow)
import(baySeq)
import(edgeR)

# Export TCC class.
exportClasses(
    "TCC" 
)

# Export the public methods in TCC package.
export(
  show,
  names,
  length,
  "[",
  TCC,
  calcAUCValue,
  calcNormFactors,
  do_TbT,
  estimateDE,
  exactTestafterTbT,
  filterLowCountGenes,
  generateSimulationData,
  getNormalizedData,
  getResult,
  MAplot,
  NBsample,
  plotFCPseudocolor,
  plot.TCC
)
